.services {
  h2 {
    span {
      border-bottom: 2px solid;
      transition: 0.2s;

      &:hover {
        color: $dark;
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    @media(max-width: $desktop) {
      flex-wrap: wrap;
    }

    @media(max-width: 500px) {
      flex-direction: column;
    }
  }

  li {
    padding: 10px;

    @media(max-width: $desktop) {
      flex-basis: 45%;
    }

    @media(max-width: 500px) {
      flex-basis: 100%;
    }

    svg {
      fill: $dark;
      width: 80px;
      height: auto;

      @media(max-width: $desktop) {
        width: 60px;
      }
    }

    h3 {
      margin: 12px 0;
      text-transform: uppercase;
      font-size: 16px;

      a {
        color: black;
        text-decoration: underline;

        &:hover {
          color: $blue;
        }
      }
    }

    p {
      color: $text-color;
      line-height: 22px;

      @media(max-width: 500px) {
        font-size: 14px;
      }
    }
  }
}
