@font-face {
  font-family: "Circe-Bold";
  src: url("../fonts/Circe-Bold.woff"),
       url("../fonts/Circe-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circe-Regular";
  src: url("../fonts/Circe-Regular.woff"),
       url("../fonts/Circe-Regular.ttf");
  font-style: normal;
  font-weight: 500;
}
