html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

h2 {
  position: relative;
  font-size: 30px;
  text-align: center;
  padding: 40px;
  width: 500px;
  margin: 0 auto;

  @media(max-width: $desktop) {
    font-size: 24px;
    width: 400px;
    padding: 30px;
  }

  @media(max-width: 500px) {
    font-size: 20px;
    width: auto;
    padding: 20px;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    width: 70px;
    height: 1px;
    background: black;

    @media(max-width: $desktop) {
      width: 40px;
    }

    @media(max-width: 500px) {
      display: none;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  span {
    color: $blue;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

section:not(:first-of-type) {
  padding-bottom: 40px;

  @media(max-width: 500px) {
    padding-bottom: 20px;
  }
}
